#buddy{
	margin:0;
	line-height: 1.7em;
	font-size: 19px;
	font-family: Athiti;
	color: #444; 
}
h1{
	text-align: center;

}
.button{
	background-color: #009999;
	color: #fff;
	border-radius: 0 !important;	
}
.button:hover{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background-color: #006666;
}

.button:focus{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background-color: #006666;
}
.fixed{
	position: fixed;
	top:400px;
}
#navId{
	background-color: #999;
}
#navId li a{
	color: #eee;
	text-transform: uppercase;	
}
#navId li a:hover{
	color: #009999;
	font-weight: bold;	
}

#navId li a:focus{
	color: #009999;
	background-color:#fff;
	font-weight: bold;	
}

#cover{
	text-align: center;
	background-image:url('/Portfolio/Images/c.jpg');
	background-position: center center;
	background-attachment: 
	
	margin-bottom: 30px;
	min-height: 500px; 
	margin-bottom: 50px;

}
.cover-text{
	padding: 130px;
	color: #333;
}
.cover-text h1{
	font-family: Spicy Rice;
	font-size: 50px;
}
.cover-text h3{
	font-family: Spicy Rice;
	font-size: 40px;
}
#about{
	text-align: justify;	
	font-family: Athiti;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: justify;
	margin-bottom: 50px;
}
#about h1{
	font-family: 'Allerta';
}
#about h3{
	font-family: 'Allerta';
	color:#009999;
}
#skill{
	margin-bottom: 100px;
}
#skill-height{
	min-height:420px;
	
	  
}
.skills ul{
	text-decoration: none;
	padding: 0;
}
.skills li{
	list-style: none;
	padding-bottom: 10px;
}
.skills h1{
	font-family: 'Allerta';
	text-align: left;
	margin-bottom: 20px;
}
#works{
	margin-bottom: 50px;
}
#tools{
	text-align: center;
}

#works h1{
	margin-bottom: 20px;
	font-family: 'Allerta';
}
#work-heigth{
	min-height: 420px;

}
#works p{
	text-align: justify;
}
#works a{
	color:#4da6ff;
}
#works a:hover{
	color:#009999;
}
#academic{
	text-align: justify;
	font-size: 20px;
	margin-bottom: 50px;
	
}
#academic strong{
	color: #404040
}
#academic p{
	padding: 10px;
}

.contact-content{
		text-align: center;
		padding: 30px;
}
#contact{
	margin-bottom: 50px;
}
footer{
	text-align: center;
	background-color: #333;
	color: #fff;
	min-height: 200px;
	padding: 40px;
}
footer h1{
	 font-family: 'Creepster';
	color: red;
	font-size: 60px;
}